<!DOCTYPE html>
<html>

<head>
    <title>
        Detail Page
    </title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_object.name }}</h1>
            <p>
                <a href={% url "todo_list_update" todo_object.id %}>Edit</a>
                <a href={% url "todo_list_delete" todo_object.id %}>Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for thing in todo_object.items.all %}
                    <tr>
                        <td><a href ={% url "todo_item_update" thing.id %}>{{thing.task}}</a></td>
                        <td>{{thing.due_date|date}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
