<!DOCTYPE html>
<html>

<head>
    <title>
        Main Page
    </title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href={% url "todo_list_create" %}>Create a new list</a>
            </p>
            <p>
                <a href={% url "todo_item_create" %}>Create a new item</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for thing in all_lists %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' thing.id %}">{{ thing.name}}</a></td>
                        <td>{{ thing.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
